#bannerImg{
  width: 400px;
  height: 200px;
  margin-top: 120px;
  margin-bottom: 20px;
  opacity: 0.7;
}

#backBanner{
  background:url(../images/loginBack.jpg);
  background-size:cover;
  height: 110%;
  background-position: center;
  background-attachment:fixed;
  margin: auto;
}

h1{
  margin-bottom:-20px;
  font-family: "Century Gothic";
  font-weight:400;
  font-size: 50px;
  padding:0px 20px;
}

p{
  font-family: 'Noto Sans', sans-serif; 
  font-size:14px;
  padding:0px 20px;
}

.chat-box{
  margin-top: 3px;
  margin: auto;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 50px;
  width: 800px;
  height: 650px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  overflow-y: scroll;
  overflow-x: hidden;   
}

label{
  color: white;
}

#chatMessage{
  color: white;
  width: 800px;
  height: 400px; 
  margin-left: 20px;
  margin-bottom: 50px;
  margin-top: 10px;
  margin-right: 20px;
  font-size: 18px;
  font-weight: normal;
}

#chatText{
  margin: auto;
  width: 800px;
  height: 48px;
  margin-left: 170px;
  resize: none;
  border-radius: 6px;
}

#groupTitle{
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 45px;
  color: white;
  padding-bottom: 30px;
  margin-bottom: 30px;
  text-align: center;
  border-bottom: 3px solid white;
}

#chatText:focus{
  outline: none;
}

.UserNameS{
  background:none;
  border:none;
  color: #7CB9E8;  
}

.UserNameS:hover{
  background:none;
  border:none;
  margin-top: 10px;
  margin-bottom: 10px;
  text-decoration: underline;
  cursor: pointer;
}

.chatMessageS{
  margin-top: 10px;
  margin-bottom: 10px;
  height: 100px;  
}

.container{
  width: 800px;
  margin: auto;
}

.chat-box::-webkit-scrollbar
{
  width: 12px;  
  height: 12px; 
}

.chatText::-webkit-scrollbar
{
  width: 12px;  
  height: 12px; 
  padding-top: 10px;
  padding-bottom: 10px;
}

.chat-box::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
}

.chat-box::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.5);
}

.profileImage{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  border-radius: 50% 50% 50% 50%;
  width: 60px;
  height: 60px;
}

.search-box-size{
  width: 600px;
}

.search-btn-size{
  height: 34px;
}